body {

}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
#map {
  width: 60%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.answer-div {
    text-align: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#000;
  height: 1px;
}